@model IEnumerable<EmployeeManagement.UI.ViewModal.EmployeeVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee List";
    var emps = Model.FirstOrDefault();
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="num">#</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Email</th>
            <th scope="col">Edit</th>
            <th scope="col">Add</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.EmployeeName</td>
                <td>@emp.Department</td>
                <td>@emp.Email</td>
                <td><a class="btn" onclick="edit(this)">Edit</a></td>
                <td><a class="btn" onclick="AddEmployee()">Add</a></td>

            </tr>
        }

    </tbody>
</table>


@*Edit model Pop up*@
<div class="edit-modal">
    <div class="modal-content">
        <div class="close" onclick="closeModal()">+</div>
        <img src="https://i.ya-webdesign.com/images/funny-png-avatar-2.png" alt="@emps.EmployeeName" />
        <form asp-controller="home" asp-action="EditEmployee">
            <input type="hidden" id="idValue" name="Id" value="" />
            <div class="form-group nameSection">
                <label id="labelname">Name:</label>
                <input type="text" name="name" id="name" value="" />
            </div>
            <div class="emailSection">
                <label asp-for="@emps.Email" id="labelemail">Email:</label>
                <input type="email" name="email" id="email" value="" />
            </div>
            <div class="deptSection">
                <label asp-for="@emps.Department" id="dept">Department:</label>
                <select id="dept" name="dept"
                        asp-for="@emps.Department"
                        asp-items="Html.GetEnumSelectList<EmployeeManagement.Modal.Enum.Department>()">
                </select>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<div class="add-modal">
    <div class="add-content">
        <div class="closeModal" onclick="closeModal()">+</div>
        <img src="https://i.ya-webdesign.com/images/funny-png-avatar-2.png" alt="@emps.EmployeeName" class="empImage" />
        <form asp-controller="home" asp-action="AddEmployee" method="post">
            <div class="form-group nameSection">
                <label for="name">Name:</label>
                <input type="text" name="name" id="inputName" value="" placeholder="Name" required /><br />
                <small class="nameError">Name is required</small>
            </div>
            <div class="emailSection">
                <label for="email">Email:</label>
                <input type="email" name="email" id="inputEmail" value="" placeholder="Email" required /><br />
                <smal class="emailError">Email is required</smal>
            </div>
            <div class="deptSection">
                <label for="dept">Department:</label>
                <select id="department" name="dept"
                        asp-items="Html.GetEnumSelectList<EmployeeManagement.Modal.Enum.Department>()">
                </select><br />
                <smal class="deptError">Select department</smal>
            </div>
            <button class="btn btn-success addNewEmp" onclick="return isFormEmpty();">Submit</button>
        </form>
    </div>
</div>



<script type="text/javascript">
    function edit(data) {
        var rows = data.parentElement.parentElement;

        //passing data to model pop up on the fly
        $("input#idValue").val(rows.cells[0].innerText);
        $("input#name").val(rows.cells[1].innerText);
        $("input#email").val(rows.cells[3].innerText);
        $("select#dept option")
            .each(function () { this.selected = (this.text == rows.cells[2].innerText); });

        // turning on model pop up from none to flex
        document.querySelector('.edit-modal').style.display = 'flex';

    }
    function closeModal() {
        document.querySelector('.edit-modal').style.display = 'none';
        document.querySelector('.add-modal').style.display = 'none';
    }
    function AddEmployee() {
        document.querySelector('.add-modal').style.display = 'flex';
    }
    function isFormEmpty() {
        document.querySelector('.nameError').style.display = 'none';
        document.querySelector('.emailError').style.display = 'none';
        document.querySelector('.deptError').style.display = 'none';

        const name = document.getElementById("inputName").value.trim();
        const email = document.getElementById("inputEmail").value.trim();
        const dept = $("#department option:selected").val();
        if (name === "" && email === "" && dept === "0") {
            document.querySelector('.nameError').style.display = 'flex';
            document.querySelector('.emailError').style.display = 'flex';
            document.querySelector('.deptError').style.display = 'flex';
            return false;
        }
        return true;

    }



</script>

<style type="text/css">

     .btn {
            background-color: #FFC107
        }
    @*Edit model Popup CSS starts here*@
    .edit-modal {
        width: 100%;
        height: 200%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        display:none;
    }
    .modal-content {
        margin: 5% 30% 0 0;
        width: 35%;
        height: 370px;
        background-color: white;
        border-radius: 15px;
    }
    img {
        width: 10%;
        margin: 2% 45% 5%;
    }
    input {
        width: 50%;
        /*display: block;*/
        margin: 1px auto;
    }
    .btn-success {
        margin: 1% 0 0 40%;
        width: 20%;
        color: #fff;
        background-color: #28a745;
        border-color: #000000;
    }
    .nameSection, .emailSection {
        margin-left: 25%;
    }
    .deptSection {
        margin-left: 30%;
        width: 50%;
        padding-bottom: 10px;
    }
    label#dept {
        /*margin-left: -25%;*/
        padding-right: 5px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        color: #6b6363;
    }
    labelemail, labelname {
        margin-left: -10%;
        padding-right: 10%;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        color: #6b6363;
    }
    select {
        width: 75%;
        margin: 15px auto;
    }
    .close {
        position: absolute;
        top: 0;
        margin-left: 95%;
        font-size: 40px;
        transform: rotate(45deg);
        cursor: pointer;
    }
    /*Edit modal popup CSS ends here*/

    .add-modal {
        width: 100%;
        height: 200%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        display: none;
    }

    .add-content {
        margin: 5% 30% 0 0;
        width: 35%;
        height: 420px;
        background-color: white;
        border-radius: 15px;
    }

    .closeModal {
        top: 0;
        margin-left: 95%;
        font-size: 40px;
        transform: rotate(45deg);
        cursor: pointer;
    }

    @*Edit model Popup CSS ends here*@


    .nameError, .emailError, .deptError {
        color: red;
        margin-left: 10%;
        display: none;
    }
    .form-group.nameSection label, .emailSection label{
        /*margin-left: -25%;*/
        padding-right: 5px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        color: #6b6363;
    }
    .deptSection label {
        margin-left: -10%;
        padding-right: 5px;
        font-family: 'Arial', sans-serif;
        font-weight: 700;
        color: #6b6363;
    }
    .form-group.nameSection input, .emailSection input{
        margin-left: 10% !important;
    }
    .addNewEmp {
        margin-left: 45% !important;
    }

    .empImage{
        margin-top: -5% !important;
    }

</style>


